title: Windows Defender
description: Disables Windows Defender and LSA Protected Process Light components to ensure complete disablement.
option: disable-defender
actions:
  # Run script on first login
  - !run: {exe: "RunOnce.bat", exeDir: true, wait: true}
  - !registryValue: {path: 'HKU\AME_UserHive_Default\SOFTWARE\Microsoft\Windows\CurrentVersion\RunOnce', value: RunScript, data: 'powershell -EP Bypass -NoP & """$([Environment]::GetFolderPath("Windows"))\Setup\Scripts\DEFENDER.ps1"""', type: REG_SZ}

  # Disabling LSA Protected Process Light
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Lsa', value: 'LsaConfigFlags', type: REG_DWORD, data: 0}
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Lsa', value: 'RunAsPPL', type: REG_DWORD, data: 0}
  - !registryValue: {path: 'HKLM\SYSTEM\CurrentControlSet\Control\Lsa', value: 'RunAsPPLBoot', type: REG_DWORD, data: 0}
  - !registryValue: {path: 'HKLM\SOFTWARE\Policies\Microsoft\Windows\System', value: 'RunAsPPL', type: REG_DWORD, data: 0}

  # Run the Windows Defender disabling script as TrustedInstaller
  - !powerShell:
    command: '.\DEFENDER.ps1'
    runas: trustedInstaller
    wait: true
    exeDir: true